aside.activity-bar#activity-bar.activity-contracted
  a(href="#").activity-expand-button
    include ../../public/images/svg/plus.svg
  div.activity-bar-inside
    h4 ACTIVITY
    span.date-ribbon TODAY

    for activity in activities
      div.activity-input
        img(src="../../images/avatar.jpg", border="0").activity-author
        div.activity-content
          span.bold #{activity.author}
          span #{activity.text}
          div.activity-project
            a(href="#") #{activity.section}
            span in
            a(href="#") #{activity.subsection}
          span.activity-time #{activity.time}
          
script(src="/scripts/activity-bar.js", type="text/javascript")
